/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -999;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.overlay li {
  margin-top: 0.5rem;
  background: blue;
  padding: 0.4rem 0.7rem;
}
.overlay li a {
  color: #fff;
  text-decoration: none;
}

.overlay > a {
  align-self: flex-start;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.6rem 1rem;
  margin-top: 2rem;
}

/* We have set opacity of the  */

.mainContent {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.mainContent .openBtn {
  text-decoration: none;
  padding: 0.6rem 1rem;
  background: orange;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  width: 15rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.mainContent .content {
  background: #ccc;
  padding: 2rem;
}
