/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 999;
  justify-content: center;
  align-items: center;
  opacity: 0; /*opacity and transform are the 2 properties mostly used for animation*/
}

.overlay li {
  margin-top: 0.5rem;
  background: blue;
  padding: 0.4rem 0.7rem;
}
.overlay li a {
  color: #fff;
  text-decoration: none;
}

.overlay > a {
  align-self: flex-start;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.6rem 1rem;
  margin-top: 2rem;
}

/* We have set opacity of the  */
